#injectedViaJS{
  width: 100%;
}
#panel{
  display: none;
  height: 0em;
  background: white;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  border: 2px solid gray;
  width: 40%;
  position: absolute;
  top: -2px;
  padding: 0.25em;
  padding-top: 2px;
  left: 55%;
}

#close_panel{
  display: block;
  height: 24px;
  width: 24px;
  float: right;
  background-image:url('http://www.seas.upenn.edu/~kaplane/xbutton.png');
  cursor: pointer;
}